* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
body{
  width: 400px;
  height: 400px;
  background-color: #1d2125;
  color: #b6c2cf;
}
.popup-title{
  width: 100%;
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-size: 15pt;
}
form{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
  justify-content: center;
}
.field{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.select-subtasks{
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1pt solid #A6C5E229;
  background-color: #22272b;
  color: #b6c2cf;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input{
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1pt solid #A6C5E229;
  background-color: #22272b;
  color: #b6c2cf;
  font-size: 12px;
}
.label{
  font-size: 12pt;
  margin-left: 3px;
  margin-bottom: 2px;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-copy{
  cursor: pointer;
  background-color: #579dff;
  color: #1d2125; 
  font-size: 12pt;
  padding: 8px 30px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.btn-copy:hover {
  background-color: #85b8ff;
}