* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
body{
  width: 400px;
  height: 400px;
  background-color: #1d2125;
  color: #b6c2cf;
}
.popup-title{
  width: 100%;
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-size: 15pt;
}
form{
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
  justify-content: center;
}
.field{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.select-subtasks{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1pt solid #A6C5E229;
  background-color: #22272b;
  color: #b6c2cf;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input{
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1pt solid #A6C5E229;
  background-color: #22272b;
  color: #b6c2cf;
  font-size: 12px;
}
.input:disabled{
  opacity: 0.5;
}
.label{
  font-size: 12pt;
  margin-left: 3px;
  margin-bottom: 2px;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-copy{
  border: none;
  cursor: pointer;
  background-color: #579dff;
  color: #fff; 
  font-size: 12pt;
  padding: 5px 30px;
  border-radius: 3px;
  transition: all 400ms ease;
}
.btn-copy:hover {
  background-color: #85b8ff;
}
.btn-copy:active {
  border: 1px solid #A6C5E229;
  background-color: #b6c2cf;
  color: #22272b;
}
.cfg-label{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.cbx-container input{
  display: none;
}
.cbx-container input + label:before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #b6c2cf;
  background-color: #A6C5E229;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.cbx-container input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #85b8ff;
  background-position: center;
  border: none;
  padding: 1px;
}
.cbx-label{
  font-size: 10pt;
}